body {
  background-color: rgb(122, 120, 120);
}
header{
  text-align: center;
}
#nav {
  background-color: rgb(180, 180, 180);
  color: black;
  padding: 40px;
  text-align: center;
  margin-top: 2%;
}

#article {
  background-color: rgb(180, 180, 180);
  color: black;
  width: 40%;
  height: 500px;
  float: left;  
  margin-top: 2%;
  margin-right: 1%;
}

#section {
  background-color: rgb(180, 180, 180);
  color: black;
  width: 58%;
  height: 500px;
  float: right;
  margin-top: 2%;
  margin-left: 1%;

}

