<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body>
        <header id="header">
           <h1> Simulator of Cellular automata </h1> 

        </header>
        <nav id="nav">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus odio accusamus assumenda quidem ducimus, a quo! Repudiandae facere odio quam. Illo doloribus labore vitae expedita cum corporis nobis, impedit quis?
        </nav>
        <article id="article"> 
            uzivatel vyberie moznost :
            <br>jednorozmerny Ca <br>dvojrozmerny CA <br>
            <br>ak klikne na moznost jednorozmerny tak sa vypise vyzva: Zadajte cislo pravidla CA (0-256)
            <br>uzivatel napise cislo a odosle poziadavku
            <br>po potvrdeni zbehne program ktory vykresluje graf na zaklade zvoleneho pravidla, vykresli to v pravej casti webu
            <br><br>kod na vykreslovanie grafu uz napisany mam
    
        </article>
        <section id="section">
            tu sa vykresli graf podla cisla pravidla ktore zadal uzivatel
        </section>
    </body>
</html>
