<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/css/styles.css">
        <script src="static/js/jquery-3.5.1.min.js"></script>
        <script src="static/js/main.js"></script>
    </head>
    <body>
        <header id="header">
            <h1> Simulator of Cellular automata </h1> 
        </header>

        <nav id="nav">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus odio accusamus assumenda quidem ducimus, a quo! Repudiandae facere odio quam. Illo doloribus labore vitae expedita cum corporis nobis, impedit quis?
        </nav>

        <article id="article">
            <div class="input-ca-type-div">
                <form class="input-ca-form">
                    <p>Typ automatu: </p>
                    <input type="radio" class="1d-ca" name="1d-ca" value="1" id="1d-ca" />
                    <label for="1d-ca">jednorozmerny CA </label>
                    <input type="radio" class="2d-ca" name="2d-ca" value="2" id="2d-ca" />
                    <label for="2d-ca">dvojrozmerny CA </label>

                    <div class="hidden-for-1d">
                        <label for="rule">Pravidlo:</label>
                        <input type="text" class="1d-ca" name="rule" id="rule-input" />
                        <label for="col">Pocet stlpcov:</label>
                        <input type="text" class="1d-ca" name="col" id="col-input" />
                    </div>
                    <button id="generate-btn" type="button">Generovat</button>
                </form>
            </div>


            <!-- uzivatel vyberie moznost :
            <br>jednorozmerny Ca <br>dvojrozmerny CA <br>
            <br>ak klikne na moznost jednorozmerny tak sa vypise vyzva: Zadajte cislo pravidla CA (0-256)
            <br>uzivatel napise cislo a odosle poziadavku
            <br>po potvrdeni zbehne program ktory vykresluje graf na zaklade zvoleneho pravidla, vykresli to v pravej casti webu
            <br><br>kod na vykreslovanie grafu uz napisany mam, len zrealizovat to na webe neviem -->

        </article>
        <section id="section">
            <div id="generated-graph-div" class="generated-graph-div">
                <!-- <img id="generated-ca-img" src="" alt="Generated CA"> -->
            </div>
        </section>
    </body>
</html>